body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}

.header {
    margin: 50px 0;
    color: yellow;
    font-family: 'Press Start 2P', cursive;
}

.container {
    margin: 40px 0;
    display: block;
}

.btn{
    height: 85px;
    width: 85px;
    display: inline-block;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10%;
    border: 10px solid white;
    margin: 0 20px;
}
