body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}
h3 {
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    
}

.title {
    margin: 50px 0;
    color: #ecec15;
    font-family: 'Press Start 2P', cursive;
  }
  
  .header {
    margin: 50px 0;
    color: #d1d1c7;
    font-family: 'Press Start 2P', cursive;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    display: block;
}

.btn{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10%;
    border: 10px solid white;
    margin: 0 20px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.pressed {
    box-shadow: 0 0 20px whitesmoke;
    background-color: grey;
}

.lose {
    background: linear-gradient(to bottom, maroon, #8b0000, #d85252);
  }

  .win {
    background: linear-gradient(to right, rgb(161, 73, 185), rgb(230, 98, 155), rgb(255, 185, 129));
  }