body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}

.header {
    margin: 50px 0;
    color: yellow;
    font-family: 'Press Start 2P', cursive;
}

.container {
    margin: 40px 0;
    display: block;
}

.btn{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10%;
    border: 10px solid white;
    margin: 0 20px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.pressed {
    box-shadow: 0 0 20px black;
    background-color: grey;
}

.lose {
    background-color: maroon;
}